
/* Slider */
.slick-slider
{
    position: relative;
}

.slick-list
{
    position: relative;
    z-index: 10;
    overflow: hidden;

    margin: auto;
    padding: 10px 0 55px 0;
}


.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}





.slick-slide
{

}
[dir='rtl'] .slick-slide
{
    float: right;
}


/*
.slick-track даем display:flex.
.slick-slide убираем float: left*/
